{% extends 'base.html' %}
{% block content %}

<h2>Toate rețetele</h2>

<div style="width: 50%; padding: 0; display: flex; flex-direction: column; gap: 1rem;">
{% for recipe in page_obj %}
  <div style="width: 100%; padding: 1rem; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9;">
    <div> <strong><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></strong> </div>
    <div> <strong>Timp total:</strong> {{ recipe.total_time }} minute </div>
    <div> <strong>Adăugat la:</strong> {{ recipe.addition_date }} </div>
    <div> <strong>Adăugat de:</strong> {{ recipe.user.username }} </div>
  </div>
{% endfor %}


<div class="pagination" style="margin-top: 1em; display: flex; gap: 0.5rem; flex-wrap: wrap;">
  <span>Pagina {{ page_obj.number }} din {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_previous %}
    <form action="" method="get" style="display:inline;">
      <input type="hidden" name="page" value="1">
      {% if sort %}
        <input type="hidden" name="sort" value="{{ sort }}">
      {% endif %}
      <button type="submit">Prima pagină</button>
    </form>

    <form action="" method="get" style="display:inline;">
      <input type="hidden" name="page" value="{{ page_obj.previous_page_number }}">
      {% if sort %}
        <input type="hidden" name="sort" value="{{ sort }}">
      {% endif %}
      <button type="submit">Pagina anterioară</button>
    </form>
  {% endif %}

  {% if page_obj.has_next %}
    <form action="" method="get" style="display:inline;">
      <input type="hidden" name="page" value="{{ page_obj.next_page_number }}">
      {% if sort %}
        <input type="hidden" name="sort" value="{{ sort }}">
      {% endif %}
      <button type="submit">Pagina următoare</button>
    </form>

    <form action="" method="get" style="display:inline;">
      <input type="hidden" name="page" value="{{ page_obj.paginator.num_pages }}">
      {% if sort %}
        <input type="hidden" name="sort" value="{{ sort }}">
      {% endif %}
      <button type="submit">Ultima pagină</button>
    </form>
  {% endif %}
</div>

<div style="margin-bottom: 1em;">
  <a href="?sort=title">
      <button {% if sort_by == 'title' %}style="font-weight:bold;"{% endif %}>
      Sortează alfabetic
      </button>
  </a>
  <a href="?sort=added">
      <button {% if sort_by == 'added' %}style="font-weight:bold;"{% endif %}>
        Sortează după dată
      </button>
  </a>
</div>
</div>
{% endblock %}